@charset "utf-8";
/* CSS Document */

html,body {font-family: 'Encode Sans Semi Expanded', sans-serif;}

body {
	background:url("../img/bdays-bg.jpg") top center no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

div#main-container {
    max-width: 980px;
    margin: 15px auto;
}

h2.title {
    margin: 0;
    padding: 20px;
    background: #CDF4D7;
    color: #222;
    text-align: center;
    text-transform: uppercase;
}

ul.bdays-list {
    padding: 10px;
    list-style: none;
    margin: 0;
}

li.bday {
    position: relative;
    width: 100%;
    padding: 15px;
    background: rgba(255,255,255,0.3);
    box-sizing: border-box;
    margin: 0 0 8px 0;
	border-radius:10px;
	border: 1px solid #fff;
}

li.bday:after {
	content:" ";
	display:block;
	width:100%;
	clear:both;
}

img.bday-photo {
    float: left;
    width: 15%;
    height: auto;
    margin: 0 50px 0 0;
    padding: 5px;
    background: #fff;
    border: 1px solid #666;
    border-radius: 50%;
}

h3.bday-name {
    font-size: 2em;
    color: #333;
    margin: 20px 0 0 0;
}

.bday-fulldob {
    margin: 5px 0;
    color: #6F5FE8;
    font-weight: bold;
}

p.bday-info {
    font-size: 1.4em;
	margin: 0;
}
div.tools {
    width: 100%;
    position: relative;
    margin: 0;
    padding: 15px;
    background: #6F5FE8;
    box-sizing: border-box;
}
#searchbox {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    font-size: 1.2em;
}
.addBdays {
    width: 100%;
    padding: 10px 0 15px;
    box-sizing: border-box;
}
.addBdays button {
    margin: 0 auto;
    display: block;
    background: #6F5FE8;
    border: 1px solid #eee;
    color: #fff;
    padding: 20px 30px;
    font-size: 1.3em;
    border-radius: 10px;
	cursor:pointer;
}


div#bdays-form-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 999;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    top: 0;
	display:none;
}
form#bdays-form {
    background: #eee;
    width: 80%;
    max-width: 450px;
    padding: 20px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#bdays-form h4 {
    margin: 0;
    font-size: 1.5em;
}
input#fullname,input#dob {
    width: 100%;
    padding: 6px;
    border: 1px solid #ccc;
    font-size: 1.2em;
    box-sizing: border-box;
    margin-bottom: 15px;
}
div#close-form {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #ccc;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 30px;
    padding-left: 1px;
    background: #222;
    color: #fff;
    cursor: pointer;
}

@media only screen and (max-width: 580px) {
	.bday-fulldob {font-size:0.7em;}
	p.bday-info {font-size: 0.8em;}
	h3.bday-name {font-size:1em;margin-top:0;}
	img.bday-photo {margin-right:10px;}	
}